.nodeBtn {
  -fx-background-color: none;
  background-color: transparent;

  -fx-border-color: black;
  border-color: black;

  -fx-border-style: solid;
  border-style: solid;

  -fx-border-width: 2px;
  border-width: 2px;

  -fx-font-size: 28px;
  font-size: 28px;

  -fx-border-radius: 50px;
  border-radius: 50%;

  -fx-alignment: center;

  -fx-padding: 10px 20px;
}
