.nodeBtn{
    -fx-background-color: none;
    -fx-border-color:black ;
    -fx-border-style: solid;
    -fx-border-width: 2px;
    -fx-font-size: 25px;
    -fx-border-radius: 50px;
    -fx-alignment: center;
}